<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="description" content="Fashi Template" />
    <meta name="keywords" content="Fashi, unica, creative, html" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>BuyFresh</title>
    <link rel="icon" href="/img/logo-1.png" type="image">
    <!-- Css Styles -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
        crossorigin="" />
    <link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/chat_box.css" type="text/css">
    <%- style %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!-- Noty Notifications -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/997cc280fa.js" crossorigin="anonymous"></script>
</head>
<!-- This is to prevent any pulling error -->

<!-- Css Styles -->
<link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
<link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
<link rel="stylesheet" href="/css/themify-icons.css" type="text/css">
<link rel="stylesheet" href="/css/elegant-icons.css" type="text/css">
<link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
<link rel="stylesheet" href="/css/nice-select.css" type="text/css">
<link rel="stylesheet" href="/css/jquery-ui.min.css" type="text/css">
<link rel="stylesheet" href="/css/slicknav.min.css" type="text/css">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/css/chat_box.css" type="text/css">
<script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>

</head>
<!-- This is to prevent any pulling error -->

<body>
    <!-- Page Preloder -->
    <div id="preloader">
        <div class="loader">
            <span class="inner1"></span>
            <span class="inner2"></span>
            <span class="inner3"></span>
        </div>
    </div>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="header-top">
            <div class="container">
                <div class="ht-left">
                    <div class="mail-service">
                        <i class=" fa fa-envelope"></i> support@buyfreshdtu.xyz

                    </div>
                    <div class="phone-service">
                        <i class=" fa fa-phone"></i> +91-9220592205
                    </div>
                </div>
                <div class="ht-right">

                    <% if(locals.user == undefined){%>

                    <a href="/users/login" class="login-panel"><i class="fa fa-user"></i>Login</a>

                    <%}else{%>
                    <a href="/users/logout" class="login-panel"><i class="fa fa-user"></i>Logout</a>

                    <%}%>
                    
                    <% if(locals.user == undefined){%>
                    <div class="top-social">
                        <a href="/users/register">Register</i>
                        </a>
                        <a href="/users/auth/google"><i class="fa fa-google" aria-hidden="true"></i>
                        </a>
                    </div>
                    <% } else{ %>
                    <div class="top-social">
                        <a href="/pastOrders">Past Orders</a>
                    </div>
                    <% } %>
                    <div class="lan-selector">
                        <div id="google_translate_element" style="height:10px;position: relative;top:-6px;left:-6px;">
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        <div class="container" style="height:7rem;">
            <div class="inner-header" style="padding:31px">
                <div class="row">
                    <div class="col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/">
                                <img style="margin-top:-14px" src="/img/logo.png" alt="" />
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7">
                        <div class="advanced-search">
                            <button type="button" id="speech-btn" class="category-btn">
                                <i class="fa fa-microphone" aria-hidden="true"></i></button>
                            <div class="input-group">
                                <form action="/search" method="POST">
                                    <input required name="query" type="text" placeholder="What do you need?"
                                        id="search-bar" />
                                    <button type="submit" id="query-submit-btn"><i class="ti-search"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 text-right col-md-3">
                        <ul class="nav-right">
                            <li id="negotiation-icon" class="heart-icon">
                                <a href="/negotiate/getNegotiations">
                                    <i class="fa fa-comments-o" aria-hidden="true"></i>
                                </a>
                                <%- include('_negotiation'); %>
                            </li>
                            <li class="cart-icon">
                                <a href="/order/getCartItems">
                                    <i class="icon_bag_alt"></i>
                                    <span id="cart-count"><% if(locals.cartSize){%>
                                        <%= locals.cartSize %>
                                        <% } else{%>
                                        <%= 0 %>
                                        <% } %></span>
                                </a>
                                <%- include('_cart'); %>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="nav-item">
            <div class="container">
                <div class="nav-depart">
                    <div class="depart-btn">
                        <i class="ti-menu"></i>
                        <span>Categories</span>
                        <ul class="depart-hover" style="z-index:1000000">
                            <li><a href="#">Premium items</a></li>
                            <li><a href="#">Elite items</a></li>
                            <li><a href="#">classic items</a></li>
                        </ul>
                    </div>
                </div>
                <nav class="nav-menu mobile-menu">
                    <ul>
                        <% if(locals.active == 'home') { %>
                        <li class="active"><a href="/ecommerce">Home</a></li>
                        <%}else{%>
                        <li><a href="/ecommerce">Home</a></li>
                        <% } %>
                        <% if(locals.active == 'logistics') { %>
                        <li class="active"><a href="/logistics">Logistics</a></li>
                        <%}else{%>
                        <li><a href="/logistics">logistics</a></li>
                        <% } %>

                        <li><a href="/pdf/commodities.pdf">Quality Parameters</a></li>
                        <% if(locals.active == 'map') { %>
                        <li class="active"><a href="/maps">Maps</a></li>
                        <%}else{%>
                        <li><a href="/maps">Maps</a></li>
                        <% } %>

                    </ul>
                </nav>
                <div id="mobile-menu-wrap"></div>
            </div>
        </div>
    </header>
    <!-- Header End -->
    <%- body %>
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="#"><img src="/img/logo.png" style="max-width: 50%" /></a>
                        </div>
                        <ul>
                            <li>Address: 60-49 Road 11378 New Delhi</li>
                            <li>Phone: +91 8368117491</li>
                            <li>Email: info.support5@buyfresh.com</li>
                        </ul>
                        <div class="footer-social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 offset-lg-1">
                    <div class="footer-widget">
                        <h5>Information</h5>
                        <ul>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Checkout</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Serivius</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="footer-widget">
                        <h5>My Account</h5>
                        <ul>
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Contact</a></li>
                            <li><a href="#">Shopping Cart</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="newslatter-item">
                        <h5>Join Our Newsletter Now</h5>
                        <p>
                            Get E-mail updates about our latest shop and special offers.
                        </p>
                        <form action="#" class="subscribe-form">
                            <input type="text" placeholder="Enter Your Mail" />
                            <button type="button">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-reserved">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copyright-text">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script>
                            All rights reserved | This template is made with
                            <i class="fa fa-heart-o" aria-hidden="true"></i> by
                            <a href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="payment-pic">
                            <img src="/img/payment-method.png" alt="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
    <script src="/js/jquery.countdown.min.js"></script>
    <script src="/js/jquery.nice-select.min.js"></script>
    <script src="/js/jquery.zoom.min.js"></script>
    <script src="/js/jquery.dd.min.js"></script>
    <script src="/js/jquery.slicknav.js"></script>
    <script src="/js/owl.carousel.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
    <!-- <script src="/ajax/chat_engine.js"></script> -->
    <script src="/js/heatmap.js"></script>
    <script src="/js/leaflet-heatmap.js"></script>
    <script src="/ajax/cart-icon.js"></script>
    <script src="/ajax/negotiate-icon.js"></script>
    <script>
        <% if (success && success.length > 0) { %>

            new Noty({
                theme: 'relax',
                text: '<%= success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 2000
            }).show();

            <% } %>
        <% if (error && error.length > 0) {%>

            new Noty({
                theme: 'relax',
                text: '<%= error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 2000
            }).show();

            <% } %>
    </script>
    <%- script %>
    <script type="text/javascript">
                function googleTranslateElementInit() {
                    new google.translate.TranslateElement({
                        pageLanguage: 'en'
                    }, 'google_translate_element');

                    document.getElementsByClassName("goog-logo-link")[0].innerHTML = "Buyfresh ML";
                    let dropDown = document.getElementsByClassName("goog-te-combo")[0];
                    dropDown.addEventListener("change", function (e) {
                        sessionStorage.setItem("language", dropDown.value);
                        $.getScript('/ajax/speech.js').done(function(script,status){
                            console.log(status);
                        });

                    })
                    document.getElementsByClassName("goog-logo-link")[0].addEventListener("click", function (e) {
                        e.preventDefault();
                    })
                }
    </script>

    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit">
    </script>
    <!-- <script src="/js/lock-amount.js"></script> -->
    <script type="text/javascript">
        /* NOTE : Use web server to view HTML files as real-time update will not work if you directly open the HTML file in the browser. */
        (function (d, m) {
            var kommunicateSettings = {
                "appId": "2f7f9f53b07d0308f1d22e141109f1ecf",
                "popupWidget": true,
                "automaticChatOpenOnNavigation": true
            };
            var s = document.createElement("script");
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://widget.kommunicate.io/v2/kommunicate.app";
            var h = document.getElementsByTagName("head")[0];
            h.appendChild(s);
            window.kommunicate = m;
            m._globals = kommunicateSettings;
        })(document, window.kommunicate || {});

        document.querySelectorAll('#cereals-slider .owl-stage-outer').forEach((element)=>{
            element.style.width = "129.8%",
            element.style.left = "-125px";
            element.style.paddingLeft="258px"
        });
        document.querySelectorAll('#vegetables-slider .owl-stage-outer').forEach((element)=>{
            element.style.width = "129.8%",
            element.style.left = "-125px";
            element.style.paddingLeft="258px"
        });
        document.querySelectorAll('#fruits-slider .owl-stage-outer').forEach((element)=>{
            element.style.width = "130.8%",
            element.style.left = "119px";
            element.style.paddingRight="259px"
        });

    </script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="/ajax/speech.js"></script>
</body>

</html>