<!DOCTYPE html>
<html lang="en">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" href="/img/logo-1.png" type="image">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/css/util.css">

    <%- style %>
    <!--===============================================================================================-->
    <!-- Noty Notifications -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script src="https://kit.fontawesome.com/997cc280fa.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- body %>

    <!--===============================================================================================-->
    <script src="/js/jquery-3.3.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <%- script %>
    <script>
            <% if (success && success.length > 0) { %>

            new Noty({
                theme: 'relax',
                text: '<%= success %>',
                type: 'success',
                layout: 'topRight',
                timeout: 2000
            }).show();

            <% } %>
            <% if (error && error.length > 0) { %>

            new Noty({
                theme: 'relax',
                text: '<%= error %>',
                type: 'error',
                layout: 'topRight',
                timeout: 2000
            }).show();

            <% } %>
    </script>

</body>

</html>