<link rel="stylesheet" href="/css/search_results.css">
<div style="display:flex;flex-direction: row-reverse;padding: 14px;">

    <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
        <div class="filter-widget">
            <h4 class="fw-title">Categories</h4>
            <ul class="filter-catagories">
                <li><a href="#">Fruit</a></li>
                <li><a href="#">Vegetables</a></li>
                <li><a href="#">Cereals</a></li>
            </ul>
        </div>
        <!-- <div class="filter-widget">
            <h4 class="fw-title">Price</h4>
            <div class="filter-range-wrap">
                <div class="range-slider">
                    <div class="price-input">
                        <input type="text" id="minamount">
                        <input type="text" id="maxamount">
                    </div>
                </div>
                <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content"
                    data-min="33" data-max="98">
                    <div class="ui-slider-range ui-corner-all ui-widget-header"></div>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                    <span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default"></span>
                </div>
            </div>
            <a href="#" class="filter-btn">Filter</a>
        </div> -->
    </div>

<ul>
    <% if(locals.items.length == 0){ %>
        <li class="result-list">
            <h3>No such Item in Inventory.</h3>
        </li>
        <%}%>
    <%for(let item of locals.items){%>
        <li class="result-list">
            <div style="display:flex;width: 70%;padding: 16px;">
                <img class="search-item-image" src="<%=item.image%>" alt="">
          <span style="padding:17px">
              <b><%=item.category%> <%=item.title%></b>
              <br style="display: inline-block;">
              <i style="font-size: 95%;">By <%=item.farmer.name%></i>
          </span>
            </div>
            <div style="border-left:1px solid #dcdcdc;height: 83%;margin-top:1.8%"></div>
            <div>
               <div class="fav-button"><i class="fa fa-heart" aria-hidden="true"></i></div> 
               <div style="text-align: center;margin: auto;">
                <b>Rs.<%=item.price%></b><br>
                <br>
                <span style="color: lightgray;font-size: 90%;"><%= item.createdAt %></span><br>
               <button class="preview-button" onclick="window.location.href='/order/buy_product/<%=item._id%>'">Preview</button>
               </div>
            </div>
        </li>
   
        <%}%>
</ul>


</div>